﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Workflows.ascx.cs" Inherits="DynamicData_EntityTemplates_Workflows" %>

<tr>
    <td>
        <b>Workflow Id :</b>
    </td>
    <td>
        <asp:DynamicControl DataField="id" runat="server"/>
    </td>
</tr>

<tr>
    <td>
        <b>Name :</b>
    </td>
    <td>
        <asp:DynamicControl ID="DynamicControl1" DataField="name" runat="server"/>
    </td>
</tr>